 	<div class="setting">
 	    <div class="label">
 	        <label for="tw_username"><MT_TRANS phrase="Username">:</label>
 	    </div>
 	    <div class="field">
 	        <input type="text" name="tw_username" id="tw_username" value="<TMPL_VAR NAME="TW_USERNAME" ESCAPE=HTML>"><br/>
 	        <p><MT_TRANS phrase="Your twitter user name."></p>
 	    </div>
 	</div>
 	
 	<div class="setting">
 	    <div class="label">
 	        <label for="tw_password"><MT_TRANS phrase="Password">:</label>
 	    </div>
 	    <div class="field">
 	        <input type="password" name="tw_password" id="tw_password" value="<TMPL_VAR NAME="TW_PASSWORD" ESCAPE=HTML>"><br/>
 	        <p><MT_TRANS phrase="Your Twitter password."></p>
 	    </div>
 	</div>

        <div class="setting">
            <div class="label">
                <label for="tw_intro"><MT_TRANS phrase="Introduction">:</label>
            </div>
            <div class="field">
                <input type="text" name="tw_intro" id="tw_intro" value="<TMPL_VAR NAME="TW_INTRO" ESCAPE=HTML>"><br/>
                <p><MT_TRANS phrase="Precedes the post title and url."></p>
            </div>
        </div>

        <div class="setting">
            <div class="label">
                <label for="tw_community"><MT_TRANS phrase="Hash Tag">:</label>
            </div>
            <div class="field">
                <input type="text" name="tw_community" id="tw_community" value="<TMPL_VAR NAME="TW_COMMUNITY" ESCAPE=HTML>"><br/>
                <p><MT_TRANS phrase="Default hashtag"></p>
            </div>
        </div>

	<div class="setting">
    		<div class="label">
			<label for="tw_share"><MT_TRANS phrase="By default">:</label>
    		</div>
    		<div class="field">
		<ul>
			<li><label><input type="radio" name="tw_share" id="tw_share"
            value="0" <mt:if name="tw_share"
            eq="0">checked="checked"</mt:if>/>&nbsp;<MT_TRANS phrase="Don't
            Tweet"></label></li>
        		<li><label><input type="radio" name="tw_share" id="tw_share"
                value="1" <mt:if name="tw_share"
                eq="1">checked="checked"</mt:if>/>&nbsp;<MT_TRANS
                phrase="Tweet without HashTags"></label></li>
			<li><label><input type="radio" name="tw_share" id="tw_share"
            value="2" <mt:if name="tw_share"
            eq="2">checked="checked"</mt:if>/>&nbsp;<MT_TRANS phrase="Use
            default HashTag"></label></li>
			<li><label><input type="radio" name="tw_share" id="tw_share"
            value="3" <mt:if name="tw_share"
            eq="3">checked="checked"</mt:if>/>&nbsp;<MT_TRANS phrase="Use
            entry tags as HashTags"></label></li>
    		</ul>
		</div> 
	</div>
